* {
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    width: 100%;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    top: 500px;
    /* background-color: brown; */
    background-image: url('bottom-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 150px;
    position: absolute;

}

.bird {
    /* background-color: yellow; */
    background-image: url('flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
    /* top: 30px; */
}

.upperObstacle {
    top: 0px;
    /* height: 100px; */
    margin-bottom: 0px;
}

.score {
    margin-top: 20px;
    color: rgb(80, 96, 189);
    /* background-color: aqua; */
    position: absolute;
    /* top: 0px; */
    left: 800px;
    width: 80px;
    height: 50px;
}

.top-score {
    color: blue;
    /* background-color: aqua; */
    position: absolute;
    top: 140px;
    left: 800px;
    width: 120px;
    height: 50px;
}

.top-scorer {
    color: blue;
    /* background-color: aqua; */
    position: absolute;
    top: 80px;
    left: 800px;
    width: 120px;
    height: 50px;
}

.name {
    color: blue;
    /* background-color: aqua; */
    position: absolute;
    /* top: 200px; */
    left: 800px;
    width: 120px;
    height: 50px;
}
    
.container {
    display: flex;
    /* top: 0px; */
}